@import '../../../../colors.scss';

table {
    width: 100%;
    height: 100px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  ::ng-deep .candidate-page .mat-form-field-label {
    color: $primary-clr;
  }
  
  
  
  
  