<div class="side-div interview-page">
    <div class="detail-header">
        <div>
            Interviews
        </div>  
        <div class="filter-section">
            <mat-form-field style="width: 70%">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Profile">
                <fa-icon matSuffix [icon]="searchIcon"></fa-icon>
            </mat-form-field>
            <div>
                <fa-icon matTooltip="Add Interview" class="clickable-icon" [icon]="addIcon" (click)="handleAddInterview()"></fa-icon>
            </div>
        </div>
    </div>
    <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Candidate Id -->
                <ng-container matColumnDef="candidateId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate </th>
                    <td mat-cell *matCellDef="let interview"> {{interview.candidate.firstName}} {{interview.candidate.lastName}} </td>
                </ng-container>

                <!-- Scheduled By -->
                <ng-container matColumnDef="scheduledBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Scheduled By </th>
                    <td mat-cell *matCellDef="let interview"> {{interview.scheduledBy.firstName}} </td>
                </ng-container>


                <!-- Scheduled Time -->
                <ng-container matColumnDef="scheduledTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Scheduled Time </th>
                    <td mat-cell *matCellDef="let interview"> {{interview.interviewRounds[0].scheduledTime | date: 'dd-MM-yyyy HH:mm'}} </td>
                </ng-container>

                <!-- Status -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let interview"> 
                        <span [ngClass]="getInterviewStatusStyle(interview.status)">
                            {{interview.status}}
                        </span>
                    </td> 
                </ng-container>

                <!-- interviewRounds -->
                <ng-container matColumnDef="interviewRounds">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rounds </th>
                    <td mat-cell *matCellDef="let interview"> {{interview.interviewRounds.length }} </td>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td style="width: 10%" mat-cell *matCellDef="let interview">
                        <fa-icon matTooltip="Expand" [icon]="faExpandArrowsAlt" class="clickable-icon"></fa-icon>    
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator class="paginator-div" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>