<app-header></app-header>
<main class="hr-dashboard ui-g">
    <div class="ui-g-8 ui-lg-8 ui-xl-8 ui-sm-12 main-div">
        <div class="ui-g" >
            <div class="ui-g-12 cards-div">
                <div [ngClass]="getCardStyle(card)" *ngFor="let card of cardData">
                    <div>
                        {{card.status}}
                    </div>
                    <div class="count">
                        <!-- <app-line [data]="chartData?.SCHEDULED"></app-line> -->
                        {{card.count}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <app-interviews></app-interviews>
            </div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-xl-4 ui-sm-12 side">
        <div class="ui-g">
            <div class="ui-g-12">
                <app-employee></app-employee>
            </div>
            <div class="ui-g-12" style="margin-top: 1vh">
                <app-candidates></app-candidates>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
