// Layout Colors
$primary-clr: #1A1423;
$secondary-clr: #3D314A;
$third-clr: #8D8891;
$fourth-clr: #9E95A5;
$fifth-clr: #F4F3FF;
$process-clr: #368bd4;

// Action Colors
$success-clr: #7FB069;
$error-clr: #D36135;
$warning-clr: #E6AA68;
$info-clr: ECE4B7;