// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

// @import '~css-star-rating/scss/star-rating';
// @import '~@fullcalendar/core/main.css';;
// @import '~@fullcalendar/daygrid/main.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$interview-management-system-ui-primary: mat-palette($mat-indigo);
$interview-management-system-ui-accent: mat-palette(
  $mat-pink,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$interview-management-system-ui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$interview-management-system-ui-theme: mat-light-theme(
  $interview-management-system-ui-primary,
  $interview-management-system-ui-accent,
  $interview-management-system-ui-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($interview-management-system-ui-theme);

/* You can add global styles to this file, and also import other style files */

@import './colors.scss';

html,
body {
  height: 100%;
  background-color: $fifth-clr;
  font-size: 20px !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-btn {
  padding: 10px;
  color: lightgray;
  background-color: #0c1815;
  outline: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.primary-btn:hover {
  border: 1px solid #0c1815;
  background-color: lightgray;
  color: #0c1815;
}

.action-btn {
  margin-left: 10px;
}

.int-status {
  display: flex;
  padding: 5px 0;
  width: 75%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.scheduled {
  background-color: $warning-clr;
}

.rejected {
  background-color: $error-clr;
  color: white
}

.under-process {
  background-color: $process-clr;
  color: white;
}

.selected {
  background-color: $success-clr;
  color: black;
}



.side-div {
  height: 41.75vh;
  // background-color: #1a384129;
  border: 2px solid #1a384129;
  border-radius: 15px;
  position: relative;
}


.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: $fourth-clr;
  background: linear-gradient(45deg, $third-clr, $fourth-clr);
  border: 2px solid $fourth-clr;
  color: $primary-clr;
  padding: 0 1.5em;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
}

.filter-section {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}

.paginator-div {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid lightgrey;
}

.table-container {
  height: 28.5vh;
  overflow: auto;
}


.clickable-icon {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
